PORT=4000
SEARCH_PROVIDER_TOKEN=change-this-search-provider-token
SEARCH_RATE_LIMIT_MAX=30
SEARCH_RATE_LIMIT_WINDOW_MS=60000
UPSTREAM_TIMEOUT_MS=30000
ALIBABA_TIMEOUT_MS=4000
MADE_IN_CHINA_TIMEOUT_MS=5000
ALIBABA_USER_AGENT=Mozilla/5.0 (compatible; ImportPilotSearchProvider/1.0)
MADE_IN_CHINA_USER_AGENT=Mozilla/5.0 (compatible; ImportPilotSearchProvider/1.0)
SEARCH_PROVIDER_DEBUG_HTML=false
